<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>MyPage</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/mypage.css" />
</head>


<body>
	<div class = "main">
		<h1>MyPage</h1>
	</div>

	<div class = "container">
		<!--<div class = "text-container"-->
			<b>Email :</b> <p th:text="${email}"></p>
			<b>Name  :</b>  <p th:text="${name}"></p>
			<b>Role  :</b>
				<div sec:authorize="hasRole('USER')">USER</div>
				<div sec:authorize="hasRole('ADMIN')">ADMIN</div>
		
		
			<form th:action="@{/logout}" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<!--<input type="submit" value="Logout" />-->
				<button type="submit" id ="logout" onclick="location.href='/logout'">Logout</button>
			</form>
		
			
	</div>
	<div class = "button-container">
		<button onclick="location.href='/'">Home</button>
	</div>
</body>
</html>