<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: html-head">
	<title>MyPage</title>
</head>
<body>
<div class = 'container'>
	<div style="text-align: center;">
		Email : <p th:text="${email}"></p>
		Name : <p th:text="${name}"></p>
		Role : 
			<div sec:authorize="hasRole('USER')">USER</div>
			<div sec:authorize="hasRole('ADMIN')">ADMIN</div>
	
	
		<form th:action="@{/logout}" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="submit" value="Logout" />
		</form>
	
	
		<div>
		  </br>
    	  <div><a href="/" role="button" class="btn btn-primary">Home</a></div>
    	</div>
 
	</div>
</div>
</body>
</html>